
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-113_12 {
        width: 1440px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20900'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(13%2C13%2C26%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(17%2C17%2C40%2C1)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(10%2C10%2C24%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_13 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_13 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
padding: 24px 0px 24px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_13 {
        position: relative;
width: 72px;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_13 {
        position: absolute;
inset: 0px -1px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-113_18 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_18 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_19 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/music.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_23 {
        width: 32px;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_24 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_24 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_25 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/sparkles0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_30 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_30 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_31 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/compass.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_34 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_34 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_35 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/library.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_40 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_40 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_41 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/settings.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_44 {
        width: 1px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_45 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(124, 58, 237, 0.800000011920929);
      }
.frame-content-113_45 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_46 {
        font-size: 14px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: 14px;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.frame-113_14 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_14 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_15 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.029999999329447746);
      }
.frame-content-113_15 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_15 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_15 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-113_47 {
        width: 100%;
height: 64px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_47 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_48 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/sparkles.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_53 {
        font-size: 18px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_54 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_55 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-content-113_55 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_55 {
        position: relative;
width: 240px;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_55 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.11999999731779099);
      }
.vector-113_56 {
        width: 14px;
height: 14px;
background-image: url("../assets/images/search.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_59 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_16 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_16 {
        display: flex;
flex-direction: row;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_60 {
        width: 500px;
height: 298px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_60 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_62 {
        width: 100%;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
      }
.frame-content-113_62 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-end;
justify-content: flex-end;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_63 {
        width: 340px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 18px 18px 4px 18px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20340%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_63 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_64 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 1);
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
width: 308px;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.frame-113_65 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(109, 40, 217, 1);
      }
.frame-content-113_65 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_66 {
        font-size: 12px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_67 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-113_67 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-113_68 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2036%2036'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(6%2C182%2C212%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_68 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_69 {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.vector-113_70 {
        width: 4.5px;
height: 4.5px;
background-image: url("../assets/images/Vector_113_70.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6px;
top: 3px;
      }
.rectangle-113_71 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.5px 1.5px 1.5px 1.5px;
      }
.stroke-wrapper-113_71 {
        position: absolute;
left: 3px;
top: 6px;
width: 12px;
height: 9px;
      }
.stroke-113_71 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 1.5px 1.5px 1.5px 1.5px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.vector-113_72 {
        width: 3px;
height: 1.5px;
background-image: url("../assets/images/Vector_113_72.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.5px;
top: 10.5px;
      }
.vector-113_73 {
        width: 3px;
height: 1.5px;
background-image: url("../assets/images/Vector_113_73.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 15px;
top: 10.5px;
      }
.vector-113_74 {
        width: 1.5px;
height: 3px;
background-image: url("../assets/images/Vector_113_74.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 11.25px;
top: 9.75px;
      }
.vector-113_75 {
        width: 1.5px;
height: 3px;
background-image: url("../assets/images/Vector_113_75.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.75px;
top: 9.75px;
      }
.frame-113_76 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 4px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.07000000029802322);
      }
.frame-content-113_76 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.stroke-wrapper-113_76 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-113_76 {
        position: absolute;
inset: 0px;
border-radius: 4px 18px 18px 18px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.paragraph-113_77 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_78 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 159.99999046325684%;
color: rgba(255, 255, 255, 0.8500000238418579);
width: 380px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-113_79 {
        width: 2px;
height: 14px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(124, 58, 237, 1);
      }
.frame-113_80 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_80 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_80 {
        position: relative;
width: 100%;
height: 120px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_80 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.vector-113_81 {
        width: 88px;
height: 88px;
background-image: url("../assets/images/AlbumCover.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_82 {
        width: 100%;
height: 88px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-113_82 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_83 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_84 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_85 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 11px 11px 11px 11px;
background-color: rgba(124, 58, 237, 0.30000001192092896);
      }
.frame-content-113_85 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_85 {
        position: relative;
width: 80px;
height: 22px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_85 {
        position: absolute;
inset: 0px;
border-radius: 11px 11px 11px 11px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(124, 58, 237, 0.6000000238418579);
      }
.vector-113_86 {
        width: 10px;
height: 10px;
background-image: url("../assets/images/music2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_89 {
        font-size: 10px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_90 {
        width: 80px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-end;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_90 {
        display: flex;
flex-direction: row;
gap: 3px;
align-items: flex-end;
width: 100%;
height: 100%;
position: relative;
      }
.rectangle-113_91 {
        width: 4px;
height: 28px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 0.800000011920929);
      }
.rectangle-113_92 {
        width: 4px;
height: 18px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 0.6000000238418579);
      }
.rectangle-113_93 {
        width: 4px;
height: 36px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 1);
      }
.rectangle-113_94 {
        width: 4px;
height: 22px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 0.699999988079071);
      }
.rectangle-113_95 {
        width: 4px;
height: 40px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%204%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%201.0000%2C%20-1.0000%2C%200.0000%2C%201.0000%2C%20-0.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(96%2C165%2C250%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.rectangle-113_96 {
        width: 4px;
height: 16px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 0.5);
      }
.rectangle-113_97 {
        width: 4px;
height: 30px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(124, 58, 237, 0.75);
      }
.frame-113_61 {
        width: 100%;
height: 298px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_61 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_98 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_98 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 20px 24px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_98 {
        position: relative;
width: 320px;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_98 {
        position: absolute;
inset: 0px 0px 0px -1px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 0px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07000000029802322);
      }
.frame-113_109 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_109 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.frame-113_110 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
      }
.vector-113_118 {
        width: 1.1666669845581055px;
height: 2.91668701171875px;
background-image: url("../assets/images/Vector_113_118.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 7px;
top: 11.083333015441895px;
      }
.vector-113_119 {
        width: 9.333332061767578px;
height: 6.42254638671875px;
background-image: url("../assets/images/Vector_113_119.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.9166665077209473px;
top: 5.8333330154418945px;
      }
.rectangle-113_120 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.75px 1.75px 1.75px 1.75px;
      }
.stroke-wrapper-113_120 {
        position: absolute;
left: 5.25px;
top: 1.1666666269302368px;
width: 3.5px;
height: 7.5833330154418945px;
      }
.stroke-113_120 {
        position: absolute;
inset: -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px -0.5833333134651184px;
border-radius: 1.75px 1.75px 1.75px 1.75px;
pointer-events: none;
border-width: 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px 1.1666666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 0, 0, 1);
      }
.paragraph-113_111 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 0.800000011920929);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_112 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(255, 255, 255, 0.30000001192092896);
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.paragraph-113_113 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
line-height: 150%;
color: transparent;
background-clip: text;
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20280%2024'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(167%2C139%2C250%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(96%2C165%2C250%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.paragraph-113_114 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(255, 255, 255, 0.30000001192092896);
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.paragraph-113_115 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(255, 255, 255, 0.20000000298023224);
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.paragraph-113_116 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(255, 255, 255, 0.15000000596046448);
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.frame-113_99 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-113_99 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_100 {
        position: absolute;
inset: -7.6923076923076925% -15.384615384615385% -23.076923076923077% -15.384615384615385% ;
background-image: url("../assets/images/BigAlbumCover.png");
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.vector-wrapper-113_100 {
        position: relative;
flex-shrink: 0;
width: 260px;
height: 260px;
      }
.paragraph-113_101 {
        font-size: 22px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_102 {
        font-size: 14px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_103 {
        width: 260px;
height: 4px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(255, 255, 255, 0.15000000596046448);
      }
.frame-113_104 {
        width: 110px;
height: 4px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 2px 2px 2px 2px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20110%204'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(96%2C165%2C250%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_105 {
        width: 12px;
height: 12px;
position: absolute;
left: 104px;
top: -4px;
border-radius: 6px 6px 6px 6px;
box-shadow: 0px 0px 6px 0px rgba(124, 58, 237, 0.5333333333333333) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-113_106 {
        width: 260px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
      }
.frame-content-113_106 {
        display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
width: 100%;
position: relative;
      }
.paragraph-113_107 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_108 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_17 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
backdrop-filter: blur(6.666666666666667px);
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_17 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_17 {
        position: relative;
width: 100%;
height: 88px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_17 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_121 {
        width: 240px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_121 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_122 {
        width: 44px;
height: 44px;
background-image: url("../assets/images/PBThumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_123 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_124 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_125 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.44999998807907104);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_126 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/heart.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_128 {
        width: 100%;
height: 60px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_128 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_129 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_130 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/shuffle.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_136 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/skipback.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_139 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 12px 0px rgba(124, 58, 237, 0.4) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_139 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_140 {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.rectangle-113_141 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.75px 0.75px 0.75px 0.75px;
      }
.stroke-wrapper-113_141 {
        position: absolute;
left: 10.5px;
top: 2.25px;
width: 3.75px;
height: 13.5px;
      }
.stroke-113_141 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 0.75px 0.75px 0.75px 0.75px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.rectangle-113_142 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.75px 0.75px 0.75px 0.75px;
      }
.stroke-wrapper-113_142 {
        position: absolute;
left: 3.75px;
top: 2.25px;
width: 3.75px;
height: 13.5px;
      }
.stroke-113_142 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 0.75px 0.75px 0.75px 0.75px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.vector-113_143 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/skipforward.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_146 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/repeat.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_151 {
        width: 220px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_151 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-end;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_152 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2032%2032'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C0.26666666666666666)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C0.26666666666666666)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_152 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_152 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_152 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(124, 58, 237, 0.5);
      }
.vector-113_153 {
        width: 14px;
height: 14px;
background-image: url("../assets/images/wand.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_154 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_155 {
        width: 14px;
height: 14px;
background-image: url("../assets/images/volume2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_159 {
        width: 80px;
height: 3px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.frame-113_160 {
        width: 56px;
height: 3px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 2px 2px 2px 2px;
background-color: rgba(167, 139, 250, 1);
      }


