
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-113_327 {
        width: 1440px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20900'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(13%2C13%2C26%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(17%2C17%2C40%2C1)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(10%2C10%2C24%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_328 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_328 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
padding: 24px 0px 24px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_328 {
        position: relative;
width: 72px;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_328 {
        position: absolute;
inset: 0px -1px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-113_345 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_345 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_346 {
        width: 20px;
height: 20px;
background-image: url("http://localhost:3667/assets/1778643473142/music.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_350 {
        width: 32px;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_351 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_351 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_352 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778643473142/sparkles.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_357 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_357 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_358 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778643473142/compass.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_361 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_361 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_362 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778643473142/library0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_367 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_367 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_368 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778643473142/settings.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_371 {
        width: 1px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_372 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(124, 58, 237, 0.800000011920929);
      }
.frame-content-113_372 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_373 {
        font-size: 12px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_329 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_329 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_331 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.029999999329447746);
      }
.frame-content-113_331 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_331 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_331 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-113_332 {
        width: 100%;
height: 64px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_332 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_333 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778643473142/library.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_338 {
        font-size: 18px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_339 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_340 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-content-113_340 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_340 {
        position: relative;
width: 240px;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_340 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.11999999731779099);
      }
.vector-113_341 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778643473142/search.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_344 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_374 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_374 {
        display: flex;
flex-direction: row;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_375 {
        width: 100%;
height: 298px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_375 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_376 {
        width: 100%;
height: 240px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_376 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_377 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_377 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_377 {
        position: relative;
width: 100%;
height: 240px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-113_377 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_378 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_378 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.paragraph-113_379 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_380 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_381 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_382 {
        width: 328.767578125px;
height: 116.52694702148438px;
background-image: url("http://localhost:3667/assets/1778643473142/AreaChartBg.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.paragraph-113_385 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_386 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_386 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_386 {
        position: relative;
width: 280px;
height: 240px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_386 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.paragraph-113_387 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_388 {
        width: 240px;
height: 120px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_388 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_389 {
        width: 100px;
height: 100px;
position: relative;
flex-shrink: 0;
      }
.vector-113_390 {
        width: 90px;
height: 90px;
background-image: url("http://localhost:3667/assets/1778643473142/Ellipse_113_390.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 12px;
      }
.vector-113_391 {
        width: 90px;
height: 90px;
background-image: url("http://localhost:3667/assets/1778643473142/Ellipse_113_391.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 12px;
      }
.vector-113_392 {
        width: 90px;
height: 90px;
background-image: url("http://localhost:3667/assets/1778643473142/Ellipse_113_392.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 12px;
      }
.vector-113_393 {
        width: 90px;
height: 90px;
background-image: url("http://localhost:3667/assets/1778643473142/Ellipse_113_393.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12px;
top: 12px;
      }
.paragraph-113_394 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: 700;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 40.5px;
top: 26px;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_395 {
        font-size: 9px;
font-family: "Noto Sans SC-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: flex-end;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 37px;
top: 50px;
white-space: pre;
flex-grow: 0;
      }
.frame-113_396 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_396 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-113_397 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_398 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: rgba(124, 58, 237, 1);
      }
.paragraph-113_399 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.6000000238418579);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_400 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_401 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: rgba(6, 182, 212, 1);
      }
.paragraph-113_402 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.6000000238418579);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_403 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_404 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: rgba(245, 158, 11, 1);
      }
.paragraph-113_405 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.6000000238418579);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_406 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_406 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_406 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_406 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-113_407 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_407 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_407 {
        position: relative;
width: 100%;
height: 48px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_407 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.paragraph-113_408 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 0.30000001192092896);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_409 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 0.30000001192092896);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_410 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 0.30000001192092896);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_411 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 0.30000001192092896);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_412 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201392%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C0.13333333333333333)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_412 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_412 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_412 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.paragraph-113_413 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_414 {
        width: 36px;
height: 36px;
background-image: url("http://localhost:3667/assets/1778643473142/TR1Thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_415 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_416 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_417 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_418 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_418 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_418 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_418 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.paragraph-113_419 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_420 {
        width: 36px;
height: 36px;
background-image: url("http://localhost:3667/assets/1778643473142/TR2Thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_421 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.800000011920929);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_422 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_423 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_424 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_424 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_424 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_424 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.paragraph-113_425 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_426 {
        width: 36px;
height: 36px;
background-image: url("http://localhost:3667/assets/1778643473142/TR3Thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_427 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.800000011920929);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_428 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_429 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_430 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_430 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_430 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_430 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.paragraph-113_431 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_432 {
        width: 36px;
height: 36px;
background-image: url("http://localhost:3667/assets/1778643473142/TR4Thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_433 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.800000011920929);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_434 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_435 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_436 {
        width: 100%;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_436 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_437 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_438 {
        width: 36px;
height: 36px;
background-image: url("http://localhost:3667/assets/1778643473142/TR5Thumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_439 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.800000011920929);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.paragraph-113_440 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_441 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_442 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_442 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_442 {
        position: relative;
width: 100%;
height: 88px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_442 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_443 {
        width: 240px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_443 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_444 {
        width: 44px;
height: 44px;
background-image: url("http://localhost:3667/assets/1778643473142/S3PBT.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_445 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_446 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_447 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.44999998807907104);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_448 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778643473142/heart.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_450 {
        width: 100%;
height: 60px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_450 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_451 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_452 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778643473142/shuffle.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_458 {
        width: 20px;
height: 20px;
background-image: url("http://localhost:3667/assets/1778643473142/skipback.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_461 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 12px 0px rgba(124, 58, 237, 0.4) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_461 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_462 {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
      }
.rectangle-113_463 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.75px 0.75px 0.75px 0.75px;
      }
.stroke-wrapper-113_463 {
        position: absolute;
left: 10.5px;
top: 2.25px;
width: 3.75px;
height: 13.5px;
      }
.stroke-113_463 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 0.75px 0.75px 0.75px 0.75px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.rectangle-113_464 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.75px 0.75px 0.75px 0.75px;
      }
.stroke-wrapper-113_464 {
        position: absolute;
left: 3.75px;
top: 2.25px;
width: 3.75px;
height: 13.5px;
      }
.stroke-113_464 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 0.75px 0.75px 0.75px 0.75px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.vector-113_465 {
        width: 20px;
height: 20px;
background-image: url("http://localhost:3667/assets/1778643473142/skipforward.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_468 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778643473142/repeat.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_473 {
        width: 220px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_473 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-end;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_474 {
        width: 80px;
height: 3px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.frame-113_475 {
        width: 56px;
height: 3px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 2px 2px 2px 2px;
background-color: rgba(167, 139, 250, 1);
      }

