
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-113_476 {
        width: 1440px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20900'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(13%2C13%2C26%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(17%2C17%2C40%2C1)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(10%2C10%2C24%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_477 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_477 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
padding: 24px 0px 24px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_477 {
        position: relative;
width: 72px;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_477 {
        position: absolute;
inset: 0px -1px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-113_480 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_480 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_481 {
        width: 20px;
height: 20px;
background-image: url("http://localhost:3667/assets/1778644215761/music0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_485 {
        width: 32px;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_486 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_486 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_487 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778644215761/sparkles.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_492 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_492 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_493 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778644215761/compass.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_496 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_496 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_497 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778644215761/library.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_502 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_502 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_503 {
        width: 18px;
height: 18px;
background-image: url("http://localhost:3667/assets/1778644215761/settings0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_506 {
        width: 1px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_507 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(124, 58, 237, 0.800000011920929);
      }
.frame-content-113_507 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_508 {
        font-size: 12px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_478 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_478 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_509 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.029999999329447746);
      }
.frame-content-113_509 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_509 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_509 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-113_510 {
        width: 100%;
height: 64px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_510 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_511 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/settings.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_514 {
        font-size: 18px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_515 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_516 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_516 {
        display: flex;
flex-direction: row;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_517 {
        width: 100%;
height: 298px;
overflow: hidden;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_517 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 32px 40px 32px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_518 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_518 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-113_518 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-113_518 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_519 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_519 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.vector-113_520 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/palette.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_526 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_527 {
        width: 280px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-content-113_527 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: center;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_528 {
        width: 100%;
height: 30px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_528 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_529 {
        width: 13px;
height: 13px;
background-image: url("http://localhost:3667/assets/1778644215761/sun.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_539 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_540 {
        width: 100%;
height: 30px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
box-shadow: 0px 2px 6px 0px rgba(124, 58, 237, 0.26666666666666666) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2090%2030'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_540 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_541 {
        width: 13px;
height: 13px;
background-image: url("http://localhost:3667/assets/1778644215761/moon.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_543 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_544 {
        width: 100%;
height: 30px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_544 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_545 {
        width: 13px;
height: 13px;
position: relative;
flex-shrink: 0;
      }
.rectangle-113_546 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px;
      }
.stroke-wrapper-113_546 {
        position: absolute;
left: 1.0833333730697632px;
top: 1.625px;
width: 10.833333969116211px;
height: 7.583333492279053px;
      }
.stroke-113_546 {
        position: absolute;
inset: -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px -0.5416666865348816px;
border-radius: 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px;
pointer-events: none;
border-width: 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px 1.0833333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.vector-113_547 {
        width: 5.41650390625px;
height: 1.083343505859375px;
background-image: url("http://localhost:3667/assets/1778644215761/Line_113_547.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.333333492279053px;
top: 11.375px;
      }
.vector-113_548 {
        width: 1.0830078125px;
height: 3.25px;
background-image: url("http://localhost:3667/assets/1778644215761/Line_113_548.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 6.5px;
top: 9.2083740234375px;
      }
.paragraph-113_549 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_550 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_550 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-113_550 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-113_550 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_551 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_551 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.frame-113_552 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.vector-113_553 {
        width: 1.33349609375px;
height: 3.33331298828125px;
background-image: url("http://localhost:3667/assets/1778644215761/Vector_113_553.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8px;
top: 12.666666984558105px;
      }
.vector-113_554 {
        width: 10.666748046875px;
height: 7.34002685546875px;
background-image: url("http://localhost:3667/assets/1778644215761/Vector_113_554.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.3333334922790527px;
top: 6.6666669845581055px;
      }
.rectangle-113_555 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 2px 2px 2px 2px;
      }
.stroke-wrapper-113_555 {
        position: absolute;
left: 6px;
top: 1.3333333730697632px;
width: 4px;
height: 8.666666984558105px;
      }
.stroke-113_555 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 2px 2px 2px 2px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(167, 139, 250, 1);
      }
.paragraph-113_556 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_557 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_557 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-113_558 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_559 {
        font-size: 13px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_560 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_561 {
        width: 44px;
height: 24px;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2024'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_562 {
        width: 20px;
height: 20px;
position: absolute;
left: 22px;
top: 2px;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26666666666666666) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-113_563 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_563 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-113_564 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_565 {
        font-size: 13px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_566 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_567 {
        width: 44px;
height: 24px;
position: relative;
flex-shrink: 0;
border-radius: 12px 12px 12px 12px;
background-color: rgba(255, 255, 255, 0.15000000596046448);
      }
.frame-113_568 {
        width: 20px;
height: 20px;
position: absolute;
left: 2px;
top: 2px;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.26666666666666666) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-113_569 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_569 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-113_569 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-113_569 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_570 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_570 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.frame-113_571 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_572 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/folder.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_574 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_575 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 6px 6px 6px 6px;
background-color: rgba(124, 58, 237, 0.20000000298023224);
      }
.frame-content-113_575 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_575 {
        position: relative;
width: 100px;
height: 30px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_575 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(124, 58, 237, 0.5);
      }
.vector-113_576 {
        width: 12px;
height: 12px;
background-image: url("http://localhost:3667/assets/1778644215761/plus.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_579 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_580 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_580 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_580 {
        position: relative;
width: 100%;
height: 44px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_580 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07000000029802322);
      }
.vector-113_581 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/folderopen0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_583 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.699999988079071);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.vector-113_584 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/trash20.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_590 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_590 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_590 {
        position: relative;
width: 100%;
height: 44px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_590 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07000000029802322);
      }
.vector-113_591 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/folderopen.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_593 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.699999988079071);
width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.vector-113_594 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/trash2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_600 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_600 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_600 {
        position: relative;
width: 140px;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_600 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.vector-113_601 {
        width: 13px;
height: 13px;
background-image: url("http://localhost:3667/assets/1778644215761/refreshcw.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_606 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_607 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_607 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-113_607 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-113_607 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_608 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_608 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.vector-113_609 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/link.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_612 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_613 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(29, 185, 84, 0.08235294371843338);
      }
.frame-content-113_613 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_613 {
        position: relative;
width: 100%;
height: 56px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_613 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(29, 185, 84, 0.25);
      }
.frame-113_614 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(29, 185, 84, 1);
      }
.frame-content-113_614 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_615 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/music.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_619 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_619 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.paragraph-113_620 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_621 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_622 {
        width: 72px;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 6px 6px 6px 6px;
background-color: rgba(29, 185, 84, 1);
      }
.frame-content-113_622 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_623 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_624 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(194, 12, 12, 0.08235294371843338);
      }
.frame-content-113_624 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_624 {
        position: relative;
width: 100%;
height: 56px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_624 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(194, 12, 12, 0.25);
      }
.frame-113_625 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 16px 16px 16px 16px;
background-color: rgba(194, 12, 12, 1);
      }
.frame-content-113_625 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_626 {
        width: 14px;
height: 14px;
background-image: url("http://localhost:3667/assets/1778644215761/music2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_629 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_629 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.paragraph-113_630 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_631 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_632 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 3px 3px 3px 3px;
background-color: rgba(74, 222, 128, 1);
      }
.paragraph-113_633 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(74, 222, 128, 0.8999999761581421);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_634 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 6px 6px 6px 6px;
background-color: rgba(255, 255, 255, 0.07000000029802322);
      }
.frame-content-113_634 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_634 {
        position: relative;
width: 56px;
height: 30px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_634 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.11999999731779099);
      }
.paragraph-113_635 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6000000238418579);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_636 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_636 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_636 {
        position: relative;
width: 100%;
height: 88px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_636 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_637 {
        width: 240px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_637 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_638 {
        width: 44px;
height: 44px;
background-image: url("http://localhost:3667/assets/1778644215761/S4PBT.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_639 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_640 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_641 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.44999998807907104);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_642 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/heart.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_644 {
        width: 100%;
height: 60px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_644 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_645 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_646 {
        width: 16px;
height: 16px;
background-image: url("http://localhost:3667/assets/1778644215761/shuffle.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_652 {
        width: 20px;
height: 20px;
background-image: url("http://localhost:3667/assets/1778644215761/skipback.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

