
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.frame-113_161 {
        width: 1440px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20900'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(13%2C13%2C26%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(17%2C17%2C40%2C1)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(10%2C10%2C24%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-113_162 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.03999999910593033);
      }
.frame-content-113_162 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
padding: 24px 0px 24px 0px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_162 {
        position: relative;
width: 72px;
height: auto;
display: flex;
flex-shrink: 0;
flex-grow: 1;
      }
.stroke-113_162 {
        position: absolute;
inset: 0px -1px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-113_174 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_174 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_175 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/music0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_179 {
        width: 32px;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_180 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_180 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_181 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/sparkles.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_186 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2044%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_186 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_187 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/compass0.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_190 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_190 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_191 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/library.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_196 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_196 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_197 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/settings.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_200 {
        width: 1px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_201 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(124, 58, 237, 0.800000011920929);
      }
.frame-content-113_201 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.paragraph-113_202 {
        font-size: 12px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_163 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_163 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_203 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.029999999329447746);
      }
.frame-content-113_203 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_203 {
        position: relative;
width: 100%;
height: 64px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_203 {
        position: absolute;
inset: 0px 0px -1px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-113_204 {
        width: 100%;
height: 64px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_204 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_205 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/compass.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_208 {
        font-size: 18px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_209 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-113_210 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.07999999821186066);
      }
.frame-content-113_210 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_210 {
        position: relative;
width: 240px;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_210 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.11999999731779099);
      }
.vector-113_211 {
        width: 14px;
height: 14px;
background-image: url("../assets/images/search.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_214 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.3499999940395355);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_215 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_215 {
        display: flex;
flex-direction: column;
gap: 28px;
align-items: flex-start;
padding: 24px 32px 24px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_216 {
        width: 100%;
height: 180px;
background-image: url("../assets/images/HeroBanner.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_227 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_227 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-113_228 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_228 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.paragraph-113_229 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_230 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(167, 139, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_231 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_231 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.frame-113_232 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_232 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_232 {
        position: relative;
width: 200px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_232 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.vector-113_233 {
        width: 64px;
height: 64px;
background-image: url("../assets/images/C1Img.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_234 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_235 {
        font-size: 10px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(29, 185, 84, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_236 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_237 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_238 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_238 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_238 {
        position: relative;
width: 200px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_238 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.vector-113_239 {
        width: 64px;
height: 64px;
background-image: url("../assets/images/C2Img.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_240 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_241 {
        font-size: 10px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 107, 107, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_242 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_243 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_244 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.05999999865889549);
      }
.frame-content-113_244 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_244 {
        position: relative;
width: 200px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_244 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.vector-113_245 {
        width: 64px;
height: 64px;
background-image: url("../assets/images/C3Img.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_246 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_247 {
        font-size: 10px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(96, 165, 250, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_248 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_249 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.4000000059604645);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_250 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_250 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.paragraph-113_251 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_252 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_252 {
        display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 12px 12px;
align-items: flex-start;
align-content: flex-start;
width: 100%;
position: relative;
      }
.frame-113_253 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(67%2C56%2C202%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_253 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_254 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/brain.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_263 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_264 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(3%2C105%2C161%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(8%2C145%2C178%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_264 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_265 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/cloudrain.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_270 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_271 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(146%2C64%2C14%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(217%2C119%2C6%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_271 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_272 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/music.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_276 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_277 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(30%2C58%2C95%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(37%2C99%2C235%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_277 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_278 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/moon.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_280 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_281 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(190%2C24%2C93%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(225%2C29%2C72%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_281 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_282 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/zap.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_284 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_285 {
        width: 160px;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20160%2072'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(6%2C95%2C70%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(5%2C150%2C105%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_285 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_286 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/leaf.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.paragraph-113_289 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.frame-113_290 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 0.05000000074505806);
      }
.frame-content-113_290 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-113_290 {
        position: relative;
width: 100%;
height: 88px;
display: flex;
flex-shrink: 0;
      }
.stroke-113_290 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10000000149011612);
      }
.frame-113_291 {
        width: 240px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_291 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_292 {
        width: 44px;
height: 44px;
background-image: url("../assets/images/S2PBThumb.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_293 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0);
      }
.paragraph-113_294 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.paragraph-113_295 {
        font-size: 11px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.44999998807907104);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.vector-113_296 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/heart.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_298 {
        width: 100%;
height: 60px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_298 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.frame-113_299 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.vector-113_300 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/shuffle.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_306 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/skipback.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_309 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 12px 0px rgba(124, 58, 237, 0.4) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(79%2C70%2C229%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-113_309 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_310 {
        width: 18px;
height: 18px;
background-image: url("../assets/images/play.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_312 {
        width: 20px;
height: 20px;
background-image: url("../assets/images/skipforward.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.vector-113_315 {
        width: 16px;
height: 16px;
background-image: url("../assets/images/repeat.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_320 {
        width: 220px;
height: 60px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background-color: rgba(0, 0, 0, 0);
      }
.frame-content-113_320 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-end;
width: 100%;
height: 100%;
position: relative;
      }
.vector-113_321 {
        width: 14px;
height: 14px;
background-image: url("../assets/images/volume2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.frame-113_325 {
        width: 80px;
height: 3px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.frame-113_326 {
        width: 56px;
height: 3px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 2px 2px 2px 2px;
background-color: rgba(167, 139, 250, 1);
      }


